{% extends "base.html" %}

{% block content %}
<div class="box wide">
  <div class="legend">
    <span>
      {{ category.name }}
    </span>
    <br>
    <label class="required">Posts:</label>
    <span class="d">{{ category.posts.count }}</span>
    <br>
    <label class="required">Subscribers:</label>
    <span class="d">{{ category.subscribers.count }}</span>
    {% if request.user.is_authenticated %}
      {% if category.subscribed %}
        <div>
          <a href="{% url 'posts:unsubscribe' category.slug %}" class="btn btn-danger">
            Unsubscribe
          </a>
        </div>
      {% else %}
        <div>
          <a href="{% url 'posts:subscribe' category.slug %}" class="btn btn-success">
            Subscribe
          </a>
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>
<hr>
{% include "posts/post_list.html" %}
{% endblock content %}
